.*
!.gitignore
!.gitattributes
!.clang-format
!.travis.yml
!.mailmap
!.cstyleignore
!.codecov.yml

*~
*.swp
*.o
make.out
core
a.out
nbproject/
/rpmbuild/
/dpkgbuild/
/rpm/
/dpkg/
/user.mk
*.user
~*
*.db
*.htmp
*.hpptmp
*.aps
tags
cscope.in.out
cscope.out
cscope.po.out
*.pyc
*.html
src/benchmarks/run_ycsb
src/benchmarks/workloads
src/benchmarks/log
src/benchmarks/perf.data
src/benchmarks/perf.data.old
src/benchmarks/perf.script
src/benchmarks/workrun.floded

.vscode/*